.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0085ff;
}

.header > h1 {
  color: #fff;
  margin-left: 28px;
}
.btn{
  font-size: medium;
  color: white;
  padding: 4px 18px;
  border: 2px solid white;
  border-radius: 13px;
  background-color: transparent;
  margin-right: 28px;
  cursor: pointer;
}

.back:hover{
  background-color: red;
  color:white;
  border-color: red;
}
.logout:hover {
  background-color: white;
  color: #0066ff;
}
.bottons{
  display:flex;
  align-items: center;
  justify-content:flex-end;
}
