.results{
 width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #e2e2e2;
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: center;

}
.results-container{
    height: 90%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-header,.result{
    width: 90%;
    height:50px;
    background-color: white;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
    margin: 0 auto;
    
}
.result-header{
    margin-top:25px;
    background-color: #3897f0;
    color: white;
}
.result{
    border-bottom: 2px solid #eee;
}